<!-- Inherits the structure and blocks from 'base.html', enabling reuse of its layout and components. -->
{% extends 'base.html' %}

<!-- Load custom filters from the 'timestamp_filters' library for use within this template,
such as formatting timestamps. -->
{% load timestamp_filters %}

<!-- Starts a 'content' block where specific content for this template is defined, overriding 'base.html'. -->
{% block content %}

<!-- Title of the page -->
<h1>Portfolio Management</h1>
<br/>

<!-- Form for adding a new stock to the portfolio -->
<form action="{% url 'add_stock' %}" class="form-inline my-2 my-lg-0" method="POST">
    {% csrf_token %}
    <input class="form-control mr-sm-2" type="search" placeholder="Add To Portfolio" aria-label="Search" name="ticker">
    <button class="btn btn-outline-secondary my-2 my-sm-0" type="submit">Add Stock</button>
</form>

<br/><br/>

<!-- Table displaying stock information -->
<table class="table table-bordered table-hover">
  <thead class="thead-dark">
    <tr>
        <th scope="col">
          <a href="?sort=symbol&order={% if request.GET.sort == 'symbol' and request.GET.order == 'asc' %}desc{% else %}asc{% endif %}">
              Symbol{% if request.GET.sort == 'symbol' %}[{% if request.GET.order == 'asc' %}↑{% else %}↓{% endif %}]{% endif %}
          </a>
        </th>
        <th scope="col">
          <a href="?sort=sector&order={% if request.GET.sort == 'sector' and request.GET.order == 'asc' %}desc{% else %}asc{% endif %}">
              Sector{% if request.GET.sort == 'sector' %}[{% if request.GET.order == 'asc' %}↑{% else %}↓{% endif %}]{% endif %}
          </a>
        </th>
        <th scope="col">
          <a href="?sort=securityType&order={% if request.GET.sort == 'securityType' and request.GET.order == 'asc' %}desc{% else %}asc{% endif %}">
              Security Type{% if request.GET.sort == 'securityType' %}[{% if request.GET.order == 'asc' %}↑{% else %}↓{% endif %}]{% endif %}
          </a>
        </th>
        <th scope="col">
          <a href="?sort=bidPrice&order={% if request.GET.sort == 'bidPrice' and request.GET.order == 'asc' %}desc{% else %}asc{% endif %}">
              Bid Price{% if request.GET.sort == 'bidPrice' %}[{% if request.GET.order == 'asc' %}↑{% else %}↓{% endif %}]{% endif %}
          </a>
        </th>
        <th scope="col">
          <a href="?sort=bidSize&order={% if request.GET.sort == 'bidSize' and request.GET.order == 'asc' %}desc{% else %}asc{% endif %}">
              Bid Size{% if request.GET.sort == 'bidSize' %}[{% if request.GET.order == 'asc' %}↑{% else %}↓{% endif %}]{% endif %}
          </a>
        </th>
        <th scope="col">
          <a href="?sort=askPrice&order={% if request.GET.sort == 'askPrice' and request.GET.order == 'asc' %}desc{% else %}asc{% endif %}">
              Ask Price{% if request.GET.sort == 'askPrice' %}[{% if request.GET.order == 'asc' %}↑{% else %}↓{% endif %}]{% endif %}
          </a>
        </th>
        <th scope="col">
          <a href="?sort=askSize&order={% if request.GET.sort == 'askSize' and request.GET.order == 'asc' %}desc{% else %}asc{% endif %}">
              Ask Size{% if request.GET.sort == 'askSize' %}[{% if request.GET.order == 'asc' %}↑{% else %}↓{% endif %}]{% endif %}
          </a>
        </th>
        <th scope="col">
          <a href="?sort=lastUpdated&order={% if request.GET.sort == 'lastUpdated' and request.GET.order == 'asc' %}desc{% else %}asc{% endif %}">
              Last Updated{% if request.GET.sort == 'lastUpdated' %}[{% if request.GET.order == 'asc' %}↑{% else %}↓{% endif %}]{% endif %}
          </a>
        </th>
        <th scope="col">
          <a href="?sort=lastSalePrice&order={% if request.GET.sort == 'lastSalePrice' and request.GET.order == 'asc' %}desc{% else %}asc{% endif %}">
              Last Sale Price{% if request.GET.sort == 'lastSalePrice' %}[{% if request.GET.order == 'asc' %}↑{% else %}↓{% endif %}]{% endif %}
          </a>
        </th>
        <th scope="col">
          <a href="?sort=lastSaleSize&order={% if request.GET.sort == 'lastSaleSize' and request.GET.order == 'asc' %}desc{% else %}asc{% endif %}">
              Last Sale Size{% if request.GET.sort == 'lastSaleSize' %}[{% if request.GET.order == 'asc' %}↑{% else %}↓{% endif %}]{% endif %}
          </a>
        </th>
        <th scope="col">
          <a href="?sort=lastSaleTime&order={% if request.GET.sort == 'lastSaleTime' and request.GET.order == 'asc' %}desc{% else %}asc{% endif %}">
              Last Sale Time{% if request.GET.sort == 'lastSaleTime' %}[{% if request.GET.order == 'asc' %}↑{% else %}↓{% endif %}]{% endif %}
          </a>
        </th>
        <th scope="col">
          <a href="?sort=volume&order={% if request.GET.sort == 'volume' and request.GET.order == 'asc' %}desc{% else %}asc{% endif %}">
              Volume{% if request.GET.sort == 'volume' %}[{% if request.GET.order == 'asc' %}↑{% else %}↓{% endif %}]{% endif %}
          </a>
        </th>
        <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    <!-- Check if there are stocks to display -->
    {% if ticker %}
        <!-- Loop through each stock -->
        {% for item in output %}
            <tr>
                <!-- Displaying individual stock details in each column -->
                <td>{{ item.symbol }}</td>
                <td>{{ item.sector }}</td>
                <td>{{ item.securityType }}</td>
                <td>${{ item.bidPrice }}</td>
                <td>{{ item.bidSize }}</td>
                <td>${{ item.askPrice }}</td>
                <td>{{ item.askSize }}</td>
                <!-- Applying custom filter to format the datetime -->
                <td>{{ item.lastUpdated|milliseconds_to_datetime }}</td>
                <td>${{ item.lastSalePrice }}</td>
                <td>{{ item.lastSaleSize }}</td>
                <td>{{ item.lastSaleTime|milliseconds_to_datetime }}</td>
                <td>{{ item.volume }}</td>
                <!-- Delete action for each stock -->
                <td>
                    <a href="{% url 'delete_stock_with_id' item.id %}" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        {% endfor %}
    {% endif %}
  </tbody>
</table>

<!-- Ends a 'content' block where specific content for this template is defined, overriding 'base.html'. -->
{% endblock %}
